<% provide(:title, "About") %>
<h1>About</h1>
<p>
  自宅のスマート家電を管理するためのアプリです。
  <a href="https://www2.meethue.com/ja-jp">Philips Hue</a>
  や<a href="https://iot.ratocsystems.com/products/rs-wfirex4/">RS-WRIREX4</a>、
  <a href="http://akizukidenshi.com/catalog/g/gM-12854/">BMP180</a> with
  <a href="https://www.raspberrypi.org/">Raspberry Pi 3B+</a>を用いています。
</p>