<% provide(:title) %>
<div class="row">
  <div class="col-md-6">
    <p>Philips Hue</p>
  </div>
  <div class="col-md-6">
    <p>RS-WRIREX4</p>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="center">
      <p>温湿度グラフ</p>
    </div>
    <div class="col-md-6">
      <div class="center">
        <iframe width="450" height="250" style="border: 1px solid #cccccc;" src="http://thingspeak.com/channels/698630/charts/1?api_key=SP0G9E1PL11MMA5L"></iframe>
      </div>
    </div>
    <div class="col-md-6">
      <div class="center">
        <iframe width="450" height="250" style="border: 1px solid #cccccc;" src="http://thingspeak.com/channels/698630/charts/2?api_key=SP0G9E1PL11MMA5L"></iframe>
      </div>
    </div>
  </div>
</div>