<footer class="footer">
  <small>
    The Smart Home App
    by <a href="https://github.com/ukitomato">Yuki Yamato</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "TEMP Server", Constants::TEMPERATURE_SERVER_URL %></li>
      <li><%= link_to "Hue Server", Constants::HUE_SERVER_URL %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>